h1{
  font-size: 50px;
}
img{

  width: 30%;
}
p{
  font-size: 30px;
}
li{
  font-size: 30px;
}
.pet{
  background-color: #515836;
  padding: 1px;
}
.dog{
  background-color: #969F74;
  padding: 1px;
}
